@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('bg-signup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 700px;
    margin: auto;
    max-width: 64.5vw;
    text-align: center;
    padding-top: 10px;
}

.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    z-index: 1000;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

svg {
    width: 30px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

footer {
    background-color: #262626;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-left: 25px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    transition: 0.4s ease;
}

nav ul li a:hover {
    color: #666;
}

.search {
    position: relative;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #444;
    color: #fff;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #444;
    font-weight: bold;
}

.icon-cart {
    position: relative;
}

.icon-cart span {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.title {
    font-size: xx-large;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #f0f4f8;
    padding: 15px;
    border-radius: 30px;
    margin: 10px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
    color: #36455c;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #36455c;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

body.showCart .cartTab {
    right: 0;
}

body.showCart .container {
    transform: translateX(-250px);
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: #eee;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}
