* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url('bg-signup.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: #dee0e3;
}
.slider{
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
footer {
    background-color: #262626;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-left: 25px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    transition: 0.4s ease;
}

nav ul li a:hover {
    color: #666;
}

.search {
    position: relative;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #444;
    color: #fff;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #444;
    font-weight: bold;
}

.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 80%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    top: 70%;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}